.field > input[type="radio"] {
    display: block;
}

.radio-choice {
    display: inline-block;
}

.result-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    font-family: "Roboto", sans-serif;
}

.uni-card {
    margin: 1% 2%;
    width: 25%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: #05445E;
}

.uni-heading {
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: bold;
    height: 18%;
    text-align: center;
}

.uni-info > a {
    text-decoration: underline;
    color: black;
}

.more-info {
    width: 100%;
    background-color: #02516e;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px black;
    cursor: pointer;
    color: white;
    position: relative;
}

.more-info:active {
    box-shadow: none;
    top: 2px;
}

.uni-link {
    width: 50%;
    align-self: center;
}

#majors-step, #finance-step, #other-step, #priority-step, #values-step, #talents-step, #qualities-step  {
    display: none;
}

.user-form {
    width: 30vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1vw;
    margin: 0 auto;
    background-color: #05445E;
}

.form-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
}

.step-heading {
    font-size: 2em;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.back-button {
    cursor: pointer;
    float: left;
}

.field-label, .slider-output {
    font-weight: 500;
}

.separator {
    width: 100%;
}

.radio-label {
    display: inline;
}

.text-search {
    min-height: 28px;
    border-radius: 4px;
    border-color: white;
}

.next-button {
    background-color: #1B99D4;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
}

.simple-button {
    background-color: #375a7f;
}

.college {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #05445E;:
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
}

.heading {
    font-size: 1.8em;
    font-weight: bold;
}

#chart-container {
    height: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 2.5%;
}

#programs {
    width: 100%;
}

#major-list {
    width: 100%;
    columns: 3;
}

.section-heading {
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: 600;
}

.features {
    line-height: 150%;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #05445E;
}

.select2-container {
    width: 100% !important;
}

.select2-results__option {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: Black;
}

.large {
    font-size: 300%;
    padding: 30px;
    margin: 30px;
}

.not-found {
    text-align: center;
}

.error {
    color: red;
}

.result {
    color: green;
}

.settings {
    text-align: center;
}

.search-engine {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: #05445E;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.search-box {
    align-self: center;
    width: 50%;
    margin: 3% 0;
    padding: 1%;
    border-radius: 5px;
}

.search-button {
    width: 25%;
}
