.field > input[type="radio"] {
    display: block;
}

.radio-choice {
    display: inline-block;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.card > div {
    border-right: 1px solid black;
    padding-right: 0.3vw;
    padding-left: 0.3vw;
}

.basic-info {
    width: 18vw;
}

.school-features {
    width: 14vw;
}

.school-stats {
    width: 16vw;
}

.admission-stats {
    width: 20vw;
}

.tuition-stats {
    width: 18vw;
}

#majors-step, #finance-step, #other-step, #priority-step {
    display: none;
}

.user-form {
    width: 30vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1vw;
    margin: 0 auto;
    background-color: #05445E;
}

.form-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
}

.step-heading {
    font-size: 2em;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.back-button {
    cursor: pointer;
    float: left;
}

.field-label, .slider-output {
    font-weight: 500;
}

.separator {
    width: 100%;
}

.radio-label {
    display: inline;
}

.text-search {
    min-height: 28px;
    border-radius: 4px;
    border-color: white;
}

.next-button {
    background-color: #1B99D4;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1B99D4;
}

.select2-container {
    width: 100% !important;
}

.select2-results__option {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
