<p class="field-label">Tuition Target</p>
<input id="tuition" name="tuition" class="slider-search" type="range" min="5000" max="85000" value="30000" step="1000"></input>
<p class="slider-output">$<span id="tuition-output">30000</span></p>

<p class="field-label">Are you looking for financial aid?</p>
<input id="financial-aid-yes" name="financial-aid" class="radio-search" type="radio" value="1" checked>
    <label class="radio-label" for="financial-aid-yes">Yes</label>
</input>
<input id="financial-aid-no" name="financial-aid" class="radio-search" type="radio" value="0">
    <label class="radio-label" for="financial-aid-no">No</label>
</input>
