<p class="field-label">Tuition Target</p>
<input id="tuition" name="tuition" class="slider-search" type="range" min="5000" max="85000" value="0" step="1000"/>
<p class="slider-output">$<span id="tuition-output">30000</span></p>

<p class="field-label">Are you looking for financial aid?</p>
<label class="radio-label" for="financial-aid-yes">
    <input id="financial-aid-yes" name="financial-aid" class="radio-search" type="radio" value="1"/>
    Yes
</label>
<label class="radio-label" for="financial-aid-no">
    <input id="financial-aid-no" name="financial-aid" class="radio-search" type="radio" value="0" checked/>
    No
</label>
