<p class="field-label">What interests you? Check all that apply:</p>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="interests" value="Realistic"> Animals
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="interests" value="Artistic"> Art
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="interests" value="Realistic"> Building things
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="interests" value="Enterprising"> Challenges
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="interests" value="Conventional"> Collecting things
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="interests" value="Social"> Community service
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="interests" value="Enterprising"> Competition
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="interests" value="Conventional"> Concrete tasks
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="interests" value="Investigative"> Designing things
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="interests" value="Enterprising"> Economics
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="interests" value="Social"> Education
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="interests" value="Investigative"> Exploring
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="interests" value="Realistic"> Hands-on tasks
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="interests" value="Social"> Helping others
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="interests" value="Artistic"> Influential roles
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="interests" value="Conventional"> Keeping records and files
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="interests" value="Enterprising"> Leadership
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="interests" value="Artistic"> Literature
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="interests" value="Conventional"> Math
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="interests" value="Social"> Music
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="interests" value="Enterprising"> Negotiation
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="interests" value="Conventional"> Organizing things
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="interests" value="Artistic"> Other cultures
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="interests" value="Realistic"> Outdoor activities
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="interests" value="Enterprising"> Politics
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="interests" value="Investigative"> Problem solving
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="interests" value="Investigative"> Reading
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="interests" value="Social"> Religion
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="interests" value="Investigative"> Science fiction
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="interests" value="Conventional"> Serving as treasurer
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="interests" value="Social"> Social activities
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="interests" value="Realistic"> Sports activities
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="interests" value="Realistic"> Tools
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="interests" value="Artistic"> Unstructured events
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="interests" value="Investigative"> Using instruments
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="interests" value="Artistic"> Working with others
</label>
