<p class="field-label">What interests you? Check all that apply:</p>
<label class="radio-label" for="art">
    <input type="checkbox" name="art" value="1"> Art
</label>
<label class="radio-label" for="literature">
	<input type="checkbox" name="interests" value="literature" value="1"> Literature
</label>
<label class="radio-label" for="teams">
	<input type="checkbox" name="interests" value="teams" value="1"> Working in teams
</label>
<label class="radio-label" for="helping">
	<input type="checkbox" name="interests" value="helping" value="1"> Helping others
</label>
<label class="radio-label" for="inventing">
	<input type="checkbox" name="interests" value="inventing" value="1"> Inventing new things
</label>
<label class="radio-label" for="social">
	<input type="checkbox" name="interests" value="social" value="1"> Social causes
</label>
<label class="radio-label" for="service">
	<input type="checkbox" name="interests" value="service" value="1"> Community service
</label>
