<select id="study-fields" name="study-fields" class="form-field js-example-basic-multiple" multiple="multiple">
    <option value="52">Accounting</option>
    <option value="14">Aerospace Engineering</option>
    <option value="01">Agricultural Business and Management</option>
    <option value="01">Agricultural Science</option>
    <option value="49">Air Transportation</option>
    <option value="54">American History</option>
    <option value="01">Animal Sciences</option>
    <option value="45">Anthropology</option>
    <option value="45">Archeology</option>
    <option value="04">Architecture</option>
    <option value="50">Arts/Entertainment Management</option>
    <option value="40">Astronomy</option>
    <option value="30">Behavioral Sciences</option>
    <option value="39">Bible Studies</option>
    <option value="26">Biochemistry</option>
    <option value="26">Biology</option>
    <option value="14">Biomedical Engineering</option>
    <option value="26">Biotechnology</option>
    <option value="52">Business (General)</option>
    <option value="52">Business Administration and Management</option>
    <option value="14">Chemical Engineering</option>
    <option value="40">Chemistry</option>
    <option value="04">City/Urban Planning</option>
    <option value="14">Civil Engineering</option>
    <option value="10">Communication Technologies</option>
    <option value="09">Communications</option>
    <option value="26">Computational Biology</option>
    <option value="14">Computer Engineering</option>
    <option value="11">Computer Science</option>
    <option value="52">Construction Management</option>
    <option value="46">Construction Trades</option>
    <option value="12">Cosmetology</option>
    <option value="43">Criminal Justice</option>
    <option value="45">Criminology</option>
    <option value="12">Culinary Arts</option>
    <option value="29">Cyber Warfare</option>
    <option value="50">Dance</option>
    <option value="51">Dentistry</option>
    <option value="45">Economics</option>
    <option value="13">Education</option>
    <option value="47">Electrical Maintenance</option>
    <option value="14">Eletrical Engineering</option>
    <option value="14">Engineering (General)</option>
    <option value="15">Engineering Technology</option>
    <option value="23">English Language and Literature</option>
    <option value="04">Environmental Design</option>
    <option value="14">Environmental Engineering</option>
    <option value="03">Environmental Science</option>
    <option value="05">Ethnic Studies (General)</option>
    <option value="54">European History</option>
    <option value="50">Film and Cinema Studies</option>
    <option value="52">Finance</option>
    <option value="50">Fine Art Studies</option>
    <option value="43">Fire Protection and Services</option>
    <option value="03">Fisheries Sciences</option>
    <option value="01">Food Science</option>
    <option value="16">Foreign Languages (General)</option>
    <option value="16">Foreign Linguistics (General)</option>
    <option value="16">Foreign Literatures (General)</option>
    <option value="03">Forestry</option>
    <option value="12">Funeral Services</option>
    <option value="50">Game Design</option>
    <option value="05">Gender Studies</option>
    <option value="45">Geography</option>
    <option value="40">Geology</option>
    <option value="10">Graphic Communications</option>
    <option value="50">Graphic Design</option>
    <option value="49">Ground Transportation</option>
    <option value="47">HVAC Maintenance</option>
    <option value="51">Health Administration</option>
    <option value="51">Health Services</option>
    <option value="54">History</option>
    <option value="43">Homeland Security</option>
    <option value="52">Hospitality Administration</option>
    <option value="52">Human Resources</option>
    <option value="19">Human Sciences</option>
    <option value="44">Human Services</option>
    <option value="24">Humanities</option>
    <option value="15">Industrial Production</option>
    <option value="11">Information Technology</option>
    <option value="45">International Relations and Affairs</option>
    <option value="09">Journalism</option>
    <option value="51">Laboratory Science</option>
    <option value="22">Legal Studies</option>
    <option value="24">Liberal Studies</option>
    <option value="25">Library Science</option>
    <option value="26">Marine Biology</option>
    <option value="49">Marine Transportation</option>
    <option value="52">Marketing</option>
    <option value="14">Materials Engineering</option>
    <option value="40">Materials Science</option>
    <option value="27">Mathematics</option>
    <option value="14">Mechanical Engineering</option>
    <option value="09">Media Studies</option>
    <option value="51">Medicine</option>
    <option value="48">Metal Working</option>
    <option value="40">Meteorology</option>
    <option value="29">Military Technologies</option>
    <option value="05">Minority Studies</option>
    <option value="50">Music</option>
    <option value="15">Nanotechnology</option>
    <option value="03">Natural Resources and Conservation</option>
    <option value="26">Neuroscience</option>
    <option value="14">Nuclear Engineering</option>
    <option value="51">Nursing</option>
    <option value="31">Parks, Recreation, and Leisure Studies</option>
    <option value="30">Peace Studies</option>
    <option value="26">Pharmacology</option>
    <option value="38">Philosophy</option>
    <option value="31">Physical Education</option>
    <option value="40">Physical Sciences</option>
    <option value="40">Physics</option>
    <option value="26">Physiology</option>
    <option value="01">Plant Sciences</option>
    <option value="45">Political Science</option>
    <option value="48">Precision Production Trades</option>
    <option value="42">Psychology</option>
    <option value="44">Public Administration</option>
    <option value="44">Public Policy</option>
    <option value="09">Public Relations</option>
    <option value="52">Real Estate</option>
    <option value="04">Real Estate Development</option>
    <option value="39">Religious Music</option>
    <option value="38">Religious Studies</option>
    <option value="52">Sales</option>
    <option value="41">Science Technologies</option>
    <option value="45">Social Sciences</option>
    <option value="44">Social Work</option>
    <option value="45">Sociology</option>
    <option value="13">Special Education</option>
    <option value="09">Sports Communication</option>
    <option value="31">Sports Studies</option>
    <option value="27">Statistics</option>
    <option value="11">Systems Administration</option>
    <option value="50">Theatre Arts</option>
    <option value="39">Theology</option>
    <option value="47">Vehical Maintenance</option>
    <option value="01">Veterinary Science</option>
    <option value="50">Visual and Performing Arts</option>
    <option value="03">Wildlife and Wildlands Science</option>
    <option value="48">Woodworking</option>
    <option value="19">Work and Family Studies</option>
    <option value="23">Writing</option>
    <option value="26">Zoology</option>
</select>
