<p class="field-label">Would you prefer a religious school?</p>
<label class="radio-label" for="religious-yes">
    <input id="religious-yes" name="religious" class="radio-search" type="radio" value="1"/>
    Yes
</label>

<label class="radio-label" for="religious-no">
    <input id="religious-no" name="religious" class="radio-search" type="radio" value="0"/>
    No
</label>

<p class="field-label">Do you have AP credit?</p>
<label class="radio-label" for="ap-yes">
    <input id="ap-yes" name="ap_credit" class="radio-search" type="radio" value="1"/>
    Yes
</label>

<label class="radio-label" for="ap-no">
    <input id="ap-no" name="ap_credit" class="radio-search" type="radio" value="0"/>
    No
</label>

<p class="field-label">Are you interested in study abroad?</p>
<label class="radio-label" for="sa-yes">
    <input id="sa-yes" name="study_abroad" class="radio-search" type="radio" value="1"/>
    Yes
</label>

<label class="radio-label" for="sa-no">
    <input id="sa-no" name="ap_credit" class="radio-search" type="radio" value="0"/>
    No
</label>

<p class="field-label">Are you interested in ROTC?</p>
<label class="radio-label" for="rotc-yes">
    <input id="rotc-yes" name="offers_rotc" class="radio-search" type="radio" value="1"/>
    Yes
</label>

<label class="radio-label" for="rotc-no">
    <input id="rotc-no" name="offers_rotc" class="radio-search" type="radio" value="0"/>
    No
</label>

<p class="field-label">Are you interested in playing an NCAA sport?</p>
<label class="radio-label" for="ncaa-yes">
    <input id="ncaa-yes" name="ncaa" class="radio-search" type="radio" value="1"/>
    Yes
</label>

<label class="radio-label" for="ncaa-no">
    <input id="ncaa-no" name="ncaa" class="radio-search" type="radio" value="0"/>
    No
</label>
