<p class="field-label">Rank your college priorities</p>

<table>
    <tr class="rank-row">
        <td class="cell"></td>
        <td class="cell">1st</td>
        <td class="cell">2nd</td>
        <td class="cell">3rd</td>
        <td class="cell">4th</td>
    </tr>

    <tr class="rank-row">
        <td class="cell">Location</td>
        <td class="cell">
            <input name="location_rank" class="radio-rank one" type="radio" value="1" checked/>
        </td>
        <td class="cell">
            <input name="location_rank" class="radio-rank two" type="radio" value="2"/>
        </td>
        <td class="cell">
            <input name="location_rank" class="radio-rank three" type="radio" value="3"/>
        </td>
        <td class="cell">
            <input name="location_rank" class="radio-rank four" type="radio" value="4"/>
        </td>
    </tr>

    <tr class="rank-row">
        <td class="cell">Academics</td>
        <td class="cell">
            <input name="academics_rank" class="radio-rank one" type="radio" value="1"/>
        </td>
        <td class="cell">
            <input name="academics_rank" class="radio-rank two" type="radio" value="2" checked/>
        </td>
        <td class="cell">
            <input name="academics_rank" class="radio-rank three" type="radio" value="3"/>
        </td>
        <td class="cell">
            <input name="academics_rank" class="radio-rank four" type="radio" value="4"/>
        </td>
    </tr>

    <tr class="rank-row">
        <td class="cell">Finances</td>
        <td class="cell">
            <input name="finance_rank" class="radio-rank one" type="radio" value="1"/>
        </td>
        <td class="cell">
            <input name="finance_rank" class="radio-rank two" type="radio" value="2"/>
        </td>
        <td class="cell">
            <input name="finance_rank" class="radio-rank three" type="radio" value="3" checked/>
        </td>
        <td class="cell">
            <input name="finance_rank" class="radio-rank four" type="radio" value="4"/>
        </td>
    </tr>
    <tr class="rank-row">
        <td class="cell">Other</td>
        <td class="cell">
            <input name="other_rank" class="radio-rank one" type="radio" value="1"/>
        </td>
        <td class="cell">
            <input name="other_rank" class="radio-rank two" type="radio" value="2"/>
        </td>
        <td class="cell">
            <input name="other_rank" class="radio-rank three" type="radio" value="3" />
        </td>
        <td class="cell">
            <input name="other_rank" class="radio-rank four" type="radio" value="4" checked/>
        </td>
    </tr>
</table>
