<p class="field-label">Which qualities do you have? Check all that apply:</p>

<label class="radio-label" for="Realistic">
        <input type="checkbox" name="qualities" value="Realistic"> Action oriented
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="qualities" value="Enterprising"> Ambitious
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="qualities" value="Investigative"> Analytical
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="qualities" value="Enterprising"> Assertive
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="qualities" value="Social"> Cooperative
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="qualities" value="Artistic"> Creative
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="qualities" value="Conventional"> Detail oriented
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="qualities" value="Enterprising"> Dynamic
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="qualities" value="Realistic"> Efficient
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="qualities" value="Conventional"> Efficient
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="qualities" value="Enterprising"> Energetic
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="qualities" value="Artistic"> Expressive
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="qualities" value="Social"> Helpful
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="qualities" value="Artistic"> Independent
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="qualities" value="Investigative"> Inquisitive
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="qualities" value="Investigative"> Insightful
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="qualities" value="Social"> Insightful
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="qualities" value="Investigative"> Intellectual
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="qualities" value="Investigative"> Introspective
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="qualities" value="Realistic"> Logical
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="qualities" value="Conventional"> Organized
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="qualities" value="Artistic"> Original
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="qualities" value="Enterprising"> Outgoing
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="qualities" value="Social"> Outgoing
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="qualities" value="Conventional"> Persistent
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="qualities" value="Realistic"> Persistent
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="qualities" value="Conventional"> Practical
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="qualities" value="Artistic"> Quick wit
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="qualities" value="Realistic"> Reliable
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="qualities" value="Enterprising"> Self-confident
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="qualities" value="Realistic"> Stable
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="qualities" value="Conventional"> Systematic
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="qualities" value="Social"> Trustworthy
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="qualities" value="Investigative"> Unconventional
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="qualities" value="Social"> Understanding
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="qualities" value="Artistic"> Unsystematic
</label>
