<p class="field-label">What are your strengths? Check all that apply:</p>
<label class="radio-label" for="math">
    <input type="checkbox" name="math" value="1"> Math
</label>
<label class="radio-label" for="science">
	<input type="checkbox" name="science" value="1"> Science
</label>
<label class="radio-label" for="reading">
	<input type="checkbox" name="reading" value="1"> Reading
</label>
<label class="radio-label" for="collaboration">
	<input type="checkbox" name="collaboration" value="1"> Collaboration
</label>
<label class="radio-label" for="leadership">
	<input type="checkbox" name="leadership" value="1"> Leadership
</label>
<label class="radio-label" for="opinion">
	<input type="checkbox" name="opinion" value="1"> Speaking your opinion
</label>
<label class="radio-label" for="creativity">
	<input type="checkbox" name="creativity" value="1"> Creativity
</label>
<label class="radio-label" for="writing">
	<input type="checkbox" name="writing" value="1"> Writing
</label>
<label class="radio-label" for="persuasion">
	<input type="checkbox" name="persuasion" value="1"> Persuasion
</label>
<label class="radio-label" for="empathy">
	<input type="checkbox" name="empathy" value="1"> Empathy
</label>
