<p class="field-label">What are your talents? Check all that apply:</p>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="talents" value="Investigative"> Analysis
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="talents" value="Artistic"> Artistic ability
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="talents" value="Realistic"> Athletic ability
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="talents" value="Conventional"> Clerical skills
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="talents" value="Realistic"> Common sense
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="talents" value="Social"> Communication
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="talents" value="Conventional"> Computer skills
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="talents" value="Enterprising"> Decision making
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="talents" value="Social"> Encouraging
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="talents" value="Social"> Facilitating
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="talents" value="Conventional"> Follows orders
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="talents" value="Artistic"> Good at improvising
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="talents" value="Artistic"> Innovative
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="talents" value="Artistic"> Intuitive
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="talents" value="Enterprising"> Leadership
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="talents" value="Social"> Leading
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="talents" value="Social"> Listening
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="talents" value="Enterprising"> Management
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="talents" value="Realistic"> Managing tasks
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="talents" value="Investigative"> Math
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="talents" value="Realistic"> Mechanical and electrical skills
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="talents" value="Conventional"> Numerical ability
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="talents" value="Conventional"> Organizational skills
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="talents" value="Enterprising"> Persuasion
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="talents" value="Enterprising"> Planning, organizing
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="talents" value="Investigative"> Problem solving
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="talents" value="Enterprising"> Public speaking
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="talents" value="Investigative"> Research
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="talents" value="Investigative"> Science
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="talents" value="Investigative"> Scientific method
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="talents" value="Social"> Teaching
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="talents" value="Artistic"> Work well under pressure
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="talents" value="Realistic"> Working with plants and animals
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="talents" value="Conventional"> Written communication
</label>
