<p class="field-label">What do you value? Check all that apply:</p>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="values" value="Conventional"> Accuracy
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="values" value="Artistic"> Beauty
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="values" value="Conventional"> Business success
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="values" value="Realistic"> Clear goals
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="values" value="Conventional"> Clear standards
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="values" value="Investigative"> Creating
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="values" value="Artistic"> Diversity
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="values" value="Social"> Expressing feelings
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="values" value="Enterprising"> Expressing opinions
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="values" value="Realistic"> Few, close friends
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="values" value="Social"> Growth of others
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="values" value="Artistic"> Honesty
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="values" value="Social"> Impacting individuals
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="values" value="Social"> Impacting society
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="values" value="Enterprising"> Making money
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="values" value="Artistic"> Objectivity
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="values" value="Conventional"> Order
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="values" value="Enterprising"> Power, control
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="values" value="Conventional"> Practical things
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="values" value="Artistic"> Public recognition
</label>
<label class="radio-label" for="Conventional">
        <input type="checkbox" name="values" value="Conventional"> Routine
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="values" value="Investigative"> Science
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="values" value="Enterprising"> Seeking pleasure
</label>
<label class="radio-label" for="Artistic">
        <input type="checkbox" name="values" value="Artistic"> Self-expression
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="values" value="Investigative"> Setting own pace
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="values" value="Realistic"> Showing vs. telling
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="values" value="Social"> Social interaction
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="values" value="Enterprising"> Status
</label>
<label class="radio-label" for="Enterprising">
        <input type="checkbox" name="values" value="Enterprising"> Success
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="values" value="Investigative"> Technical expertise
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="values" value="Realistic"> Things vs. people
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="values" value="Investigative"> Thinking vs. doing
</label>
<label class="radio-label" for="Realistic">
        <input type="checkbox" name="values" value="Realistic"> Tradition
</label>
<label class="radio-label" for="Investigative">
        <input type="checkbox" name="values" value="Investigative"> Working alone
</label>
<label class="radio-label" for="Social">
        <input type="checkbox" name="values" value="Social"> Working on teams
</label>
