{% extends "index.html" %}


{% block content %}
<h1></h1>
<div class="settings" id="settings">
        <h3>Profile page for {{ username }}</h3>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        {% if result %}
        <p class="result">{{ result }}</p>
        {% endif %}
  	<form method="post" class="user-form" name="update_delete_form">
		<div class="heading">
			Change Password
		</div>
		<br>
		<br>

		<input type="password" name="oldpassword" placeholder="Old Password"/><br>
		<input type="password" name="newpassword" placeholder="New Password"/><br><br>
		<button class="simple-button" type="submit" class="button" name="submit_button" value="update">Change Password</button>

		<br>
		<br>
		<dev class="heading">Delete Account</dev>
		<br>
		<br>

		<input type="password" name="delete_pass" placeholder="Password"/><br><br>
		<button class="simple-button" type="submit" name="submit_button" value="delete">Delete Account</button>
                <br><br>
                <button class="simple-button" type="submit" name="submit_button" value="logout">Log Out</button>
	</form>
</div>
{% endblock %}
